<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - 在线日程管理</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/pure/pure.css">
        <link rel="stylesheet" href="~/lib/pure/grids-responsive.css">
        <link rel="stylesheet" href="~/css/general.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/pure/pure-min.css">
        <link rel="stylesheet" href="~/lib/pure/grids-responsive-min.css">
        <link rel="stylesheet" href="~/css/general.css">
    </environment>
</head>
<body>
    @*这里开始布局*@
    <header class="header" id="header">@*怎样让header能够固定在页面顶部？*@
        <a href="/"><h1 class="brand-title">在线日程管理</h1></a>
        <ul class="account-link">
            @Html.Partial("_AccountBarPartial")
        </ul>
    </header>

    <div class="pure-g">
    <nav class="sidebar pure-u-1-8">
        <div class="pure-menu" id="side-bar">
            <ul class="pure-menu-list" id="side-menu">
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': '@ViewData["CurrentPage"]' == 'welcome'}">
                    <a href="/" class="pure-menu-link">欢迎</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': '@ViewData["CurrentPage"]' == 'timetable'}">
                    <a href="/Schedule/Timetable" class="pure-menu-link">今日时间表</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': '@ViewData["CurrentPage"]' == 'calendar'}">
                    <a href="#" class="pure-menu-link">日历</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': '@ViewData["CurrentPage"]' == 'overdue'}">
                    <a href="#" class="pure-menu-link">已过期日程</a>
                </li>
                @RenderSection("TemporaryMenu", false)
            </ul>
        </div>
    </nav>
    <div class="content pure-u-7-8">
     @RenderBody()
    </div>

    </div><!-- end of pure-g -->
    
    @*至此结束布局*@
    <environment include="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/js/general.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/js/general.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>